body {
    padding-top: 90px;
    color:saddlebrown;
    background-color: antiquewhite;
}

a:visited {
    color:saddlebrown;
}
a:link {
    color:darkgoldenrod;
}
a:hover {
    color:brown;
}
.btn-custom {
    color:#E1BB80;
    background-color: #685634;
}
nav a:visited {
    color:beige;
}
nav a:link {
    color:aliceblue;
}
nav a:hover {
    color:saddlebrown;
}

.navbar {
    color:antiquewhite;
    background-color: saddlebrown;
}